name: python-acitons
on:
  push:
    branches:
      - main
jobs:
  check-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - run: python -V
      - run: python my_script.py
